rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    //Un alumno puede ver la lista de grupos
    match /grupos/{grupo} {
       allow read;
    }

    //Un alumno puede ver la lista de sesiones
    match /grupos/{grupo}/sesiones/{sesion} {
       allow read;
    }

    //Un alumno puede ver la lista de alumnos
    match /grupos/{grupo}/alumnos/{alumno} {
       allow read;
    }
    
    //Un alumno puede añadir a la lista de asitencia
    match /grupos/{grupo}/sesiones/{sesion}/asisten/{nombre} {
       allow create: if exists(/databases/$(database)/documents/grupos/$(grupo)/alumnos/$(nombre));
    }
    
    //Un profesor puede leer y escribir cualquier documento de sus grupos
    match /grupos/{grupo}/{rest=**} {
       allow read, write: if request.auth != null && grupo in get(/databases/$(database)/documents/profesores/$(request.auth.uid)).data.grupos;
    }
    
    //Un profesor puede crear asignaturas nuevas
    match /grupos/{grupo} {
       allow create: if request.auth != null 
         && exists(/databases/$(database)/documents/profesores/$(request.auth.uid));
    }
    
    //Un profesor puede asignarse como profesor de una asignatura
    match /profesores/{uid} {
       allow read: if request.auth != null;   //NUEVA
       allow write: if request.auth != null && uid == request.auth.uid;
    }
    
    //Un profesor puede editar su propio documento
    //match /profesores/{uid} {
    //   allow create: if request.auth != null && uid == request.auth.uid;
    //}
  }
}